name: Deploy to Workshop

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master
        with:
          submodules: "recursive"

      - uses: vurvdev/gmod-upload@v0.2.1
        with:
          id: 3454707364
          changelog: ${{ github.event.head_commit.message }}
        env:
          STEAM_USERNAME: ${{ secrets.WORKSHOP_USERNAME }}
          STEAM_PASSWORD: ${{ secrets.WORKSHOP_PASSWORD }}
